<div class="layout">
  <app-sidebar></app-sidebar>

  <div class="content-area">

    <h2 style="margin-bottom: 20px; color: #333;">PC Plan</h2>

    <div class="top-controls">
      <div class="form-group" style="width: 280px;">
        <label>Division</label>
        <ng-select [(ngModel)]="selectedDivisionCode" (change)="onDivisionChange()" [disabled]="isLoadingMasterData"
          placeholder="-- Select Division --" [clearable]="false" style="width: 100%;">
          <ng-option *ngFor="let div of divisionOptions" [value]="div.code">
            {{ div.label }}
          </ng-option>
        </ng-select>
        <small *ngIf="isLoadingMasterData" style="color: red; margin-top: 5px; display: block;">
          ⏳ กำลังดึงข้อมูล กรุณารอสักครู่...
        </small>
      </div>



      <div class="excel-buttons">

        <input type="file" #fileInput (change)="onFileChange($event)" style="display: none;" accept=".xlsx, .xls" />

        <button class="btn-excel upload" (click)="fileInput.click()">
          UPLOAD FOR EXCEL
        </button>

        <button class="btn-excel download" (click)="downloadFormat()">
          DOWNLOAD FORMAT
        </button>

      </div>
    </div>

    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th style="width: 130px;">Date <span style="color: red">*</span></th>
            <th>Machine Type <span style="color: red">*</span></th>
            <th style="width: 100px;">Fac <span style="color: red">*</span></th>
            <th style="width: 100px;">MC No. <span style="color: red">*</span></th>
            <th>Process <span style="color: red">*</span></th>
            <th>Part Before</th>
            <th>Part No. <span style="color: red">*</span></th>
            <th style="width: 60px;">QTY</th>
            <th style="width: 60px;">Time</th>
            <th>Comment</th>
            <th style="width: 50px;">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of planItems; let i = index">

            <td><input type="date" [(ngModel)]="item.date"></td>

            <td>
              <ng-select [(ngModel)]="item.machineType" [items]="machineTypes" appendTo="body" placeholder="Select"
                [clearable]="true" style="width: 100%; min-width: 120px;">
              </ng-select>
            </td>

            <td>
              <ng-select [(ngModel)]="item.fac" [items]="facs" appendTo="body" placeholder="Select" [clearable]="true"
                style="width: 100%; min-width: 100px;">
              </ng-select>
            </td>

            <td>
              <input type="text" [(ngModel)]="item.mcNo" placeholder="MC No." (focus)="selectAllText($event)">
            </td>

            <td>
              <ng-select [(ngModel)]="item.process" [items]="processes" appendTo="body" placeholder="Select"
                [clearable]="true" style="width: 100%; min-width: 100px;">
              </ng-select>
            </td>

            <td>
              <ng-select [(ngModel)]="item.partBef" [items]="partBef" appendTo="body" placeholder="Select"
                [clearable]="true" style="width: 100%; min-width: 120px;">
              </ng-select>
            </td>

            <td>
              <ng-select [(ngModel)]="item.partNo" [items]="partNos" appendTo="body" placeholder="Select"
                [clearable]="true" style="width: 100%; min-width: 120px;">
              </ng-select>
            </td>

            <td><input type="number" [(ngModel)]="item.qty" (focus)="selectAllText($event)"></td>
            <td><input type="text" [(ngModel)]="item.time" (focus)="selectAllText($event)"></td>
            <td><input type="text" [(ngModel)]="item.comment" (focus)="selectAllText($event)"></td>

            <td style="text-align: center;">
              <button class="btn-delete" (click)="removeRow(i)">x</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="action-buttons">
      <button class="btn-add" (click)="addRow()" [disabled]="isLoadingMasterData">
        {{ isLoadingMasterData ? '...' : '+' }}
      </button>
      <button class="btn-submit" (click)="onSubmit()">Send</button>
    </div>

  </div>
</div>