/* โครง layout หลัก */
.layout {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden; /* กัน scroll ทั้งหน้า */
}



/* Sidebar ให้อยู่กับที่ */
.app-sidebar {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f0f0f0;
  z-index: 1000;
}

/* เนื้อหา main ที่ scroll ได้ */
.main {
  display: block;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  background-color: #ffffff;
  box-sizing: border-box;
}

.team {
  display: flex;
  flex-direction: column; /* เรียงแนวตั้ง */
  align-items: center;     /* จัดตรงกลางแนวนอน */
  padding-top: 50px;
}

.team h1 {
  font-size: 32px;
  margin-bottom: 30px;
}

.teampic {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  height: auto;
  gap: 100px;
  background-color: rgb(91, 91, 91);
  padding: 20px;
  border-radius: 10px;
  max-width: 1000px;

}

/* ตัวอย่างตกแต่ง box แต่ละคน */
// .teampic div {
//   width: 200px;
//   height: 200px;
//   background-color: white;
//   color: black;
//   font-size: 24px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   border-radius: 50%;
 
// }

.member {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 16px;
}

.circle {
  width: 200px;
  height: 200px;
  background-color: white;
  color: black;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-bottom: 10px;
  overflow: hidden;
}

.circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;             /* ให้รูปไม่ยืด บีบ หรือเพี้ยน */
}