<div class="layout">
  <app-sidebar></app-sidebar>
  <div class="main">
    <div class="team">
      <h1>Our Team</h1>
      <div class="teampic">
        <div class="member">
          <div class="circle">
            <img src="film.webp" alt="flim">
          </div>
          <p>Film</p>
          <p> ( Frontend )</p>
        </div>
        <div class="member">
          <div class="circle">
            <img src="diw.png" alt="diw">
          </div>
          <p>Diw</p>
          <p>( Leader )</p>
        </div>
        <div class="member">
          <div class="circle">
            <img src="non.webp" alt="non">
          </div>
          <p>Non</p>
          <p> ( Backend )</p>
        </div>
         <!-- แถวที่ 2 -->

    <div class="member">
      <div class="circle">
          <img src="joi.png" alt="joint">
      </div>
      <p>Joint</p>
      <p> ( Member )</p>
    </div>
    <div class="member">
      <div class="circle">
          <img src="pat.png" alt="fluke">
      </div>
      <p>Fluke</p>
      <p> ( Member )</p>
    </div>
    <div class="member">
      <div class="circle">
          <img src="pat.png" alt="pat">
      </div>
      <p>Pat</p>
      <p> ( Member )</p>
    </div>
  </div>
  </div>

      </div>
    </div>


