<div class="layout">
  <app-sidebar></app-sidebar>
  <div class="main">
    <div class="objectivebox">
    <div class="objective-content">
      <div class="objective-text">
        <h1>Our Vision</h1>
        <p>"We are committed to creating a website that allows users to request items in just a few clicks  — simple to use and easy to understand."</p>
      </div>
      <div class="objective-image">
        <img src="ObjectivePic.png" alt="Vision Image">
      </div>
    </div>
  </div>


    <div class="team">
      <h1>Our Team</h1>
      <div class="teampic">
        <div class="member">
          <div class="circle">
            <img src="film.webp" alt="flim">
          </div>
          <p>Film</p>
          <p> ( Frontend )</p>
        </div>
        <div class="member">
          <div class="circle">
            <img src="diw.png" alt="diw">
          </div>
          <p>Diw</p>
          <p>( Leader )</p>
        </div>
        <div class="member">
          <div class="circle">
            <img src="non.webp" alt="non">
          </div>
          <p>Non</p>
          <p> ( Backend )</p>
        </div>
         <!-- แถวที่ 2 -->

    <div class="member">
      <div class="circle">
          <img src="joi.png" alt="joint">
      </div>
      <p>Joint</p>
      <p> ( Member )</p>
    </div>
    <div class="member">
      <div class="circle">
          <img src="pat.png" alt="fluke">
      </div>
      <p>Fluke</p>
      <p> ( Member )</p>
    </div>
    <div class="member">
      <div class="circle">
          <img src="pat.png" alt="pat">
      </div>
      <p>Pat</p>
      <p> ( Member )</p>
    </div>
  </div>
  </div>

  <div class="con">
    <p>NMB-Minebea Thai Ltd.</p>


    <div class="address">
    
      <div class="left">
    <img src="ad.webp" alt="ad">
    <span> Minebea Bang Pa-in Factory (Head Office)
1 Moo 7, Phahonyothin Road, Km. 51,
Chiang Rak Noi Subdistrict, 
Bang Pa-in District,
Phra Nakhon Si Ayutthaya Province 13180, Thailand</span>
</div>


<div class="right">
  <img src="ad.webp" alt="ad">
  <span> Bangkok Office (Sales Office)
Wave Place Building, 19th Floor, 55 Witthayu Road,
Lumphini Subdistrict, Pathumwan District,
Bangkok 10330, Thailand</span>
</div>

</div>

  <div class="phone">

    <div class="leftphone">
    <img src="phone.png" alt="phone">
    <span> (+66) 3536-1429, (+66) 3536-1439 </span>
    </div>

    <div class="rightphone">
  <img src="phone.png" alt="phone">
  <span> (+66) 2253-4897 </span>
</div>
  
</div>

  <div class="mainphone">
    <div class="leftmain">
    <img src="main.webp" alt="main">
    <span> (+66) 3536-1177, (+66) 3536-1477 </span>
  </div>

  <div class="rightmain">
  <img src="main.webp" alt="main">
  <span> (+66) 2253-4537 </span>
</div>

</div>

 
  </div>

  

      </div>
    </div>


