/* โครง layout หลัก */
.layout {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden; /* กัน scroll ทั้งหน้า */
}



/* Sidebar ให้อยู่กับที่ */
.app-sidebar {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f0f0f0;
  z-index: 1000;
}

/* เนื้อหา main ที่ scroll ได้ */
.main {
  display: block;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  background-color: rgb(229, 253, 255);
  box-sizing: border-box;
}

.team {
  display: flex;
  flex-direction: column; /* เรียงแนวตั้ง */
  align-items: center;     /* จัดตรงกลางแนวนอน */
  padding-top: 50px;
}

.team h1 {
  font-size: 32px;
  margin-bottom: 30px;
}

.teampic {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  gap: 100px ;
  padding: 20px;
  border-radius: 10px;
  max-width: 1000px;
  row-gap: 20px;
}


.member {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 16px;
}

.member p {
  background-color: white;
  padding: 5px;
  border-radius: 1  0px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.circle {
  width: 100px;
  height: 100px;
  background-color: rgb(255, 255, 255);
  color: black;
  font-size: 24px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-bottom: 10px;
  overflow: hidden;
  line-height: 1px;
}

.circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;             /* ให้รูปไม่ยืด บีบ หรือเพี้ยน */
}


.teampic p {
  color: black;

}

.objec {
  display: flex;
  flex-direction: column; /* เรียงแนวตั้ง */
  align-items: center;     /* จัดตรงกลางแนวนอน */
  padding-top: 50px;
}
.objec h1{
  font-size: 32px;
  margin-bottom: 30px;
  text-align: center;
}

.to {
  text-align: left;
}

.member {
      background-color: #ffffff;
      border: 5px solid #0066B3;
      border-radius: 16px;
      padding: 30px;
      width: 200px;
      box-shadow: 0 4px 20px rgba(0,0,0,0.1);
      text-align: center;
      transition: all 0.3s ease;
}

.member p{
  background: none;        /* เอาพื้นหลังออก */
  box-shadow: none;        /* เอาเงาออก */
  border: none;            /* ถ้ามีเส้นขอบ ให้ลบออกด้วย */
  padding: 0;              /* ลบระยะห่างถ้ามี */
}

.con{
  background-color: #0066B3;
  margin-bottom: none;
  color: #ffffff;
  line-height: 50px;
}

.con p{
  font-weight: bold;     /* ทำให้หนา */
  font-style: italic;    /* ทำให้เอียง */
  font-size: 30px;
  margin-left: 40px;
  
  
}
img{
  width: 30px;
  margin-left: 40px;
  
}

.address {
  width: 500px;           /* กำหนดความกว้าง */
  word-wrap: break-word;  /* บังคับตัดคำถ้าจำเป็น */
  white-space: normal;    /* อนุญาตให้ขึ้นบรรทัดใหม่ */
  

}

