/* โครง layout หลัก */
.layout {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden; /* กัน scroll ทั้งหน้า */
}

/* Sidebar ให้อยู่กับที่ */
app-sidebar {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f0f0f0;
  z-index: 1000;
}

/* เนื้อหา main ที่ scroll ได้ */
.main {
  display: block;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  background-color: #ffffff;
  box-sizing: border-box;
}

.team {
  display: flex;
  justify-content: center;

}

/* หัวข้อ Our Team */
.team h1 {
  margin-top: 50px;
  font-size: 32px;
}
