.detail-layout {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);


  // วางใน .detail-layout หรือ .main ก็ได้
.bell-container {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;

  .lol {
    position: relative;
    border: none;
    background-color: white;
    cursor: pointer;

    i {
      color: #000;
      font-size: 25px;
    }

    .badge {
      position: absolute;
      top: -10px;
      right: -10px;
      font-size: 12px;
      padding: 4px 6px;
    }
  }
}


  // ข้อความข้างบน
  .toptext {
    margin-top: 20px;
    margin-left: 20px;

    p {
      color: #0066B3;
      font-size: 20px;
    }
  }

   .lol {
    border: none;
    background-color: white;
      i {
        color: #000000;
          font-size: 25px;
          margin-right: 10px;
      }
   }


  // กล่อง ItemNo.
  .Box-itemNo {
    width: fit-content;
    margin-top: 20px;
    margin-left: 20px;
    padding: 20px;
    color: rgb(0, 0, 0);
    background-color: #dff0ff;
    border: solid 3px #0065bd;
    border-radius: 14px;

    h1 {
      font-size: 30px;
    }
  }

  // ตาราง
  .table-responsive {
    margin-top: 25px;
  }

  // เลือกหน้า
  .pagination-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;

    .pagination {
      display: flex;
      justify-content: center;
      padding: 0;
      margin: 0;
    }
  }
}

