// โครงหลักของหน้า
.detail-layout {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-color: #ffffff;

  //  พื้นที่แสดงเนื้อหาหลัก
  .main {
    flex: 1;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 60px;

    // กล่องข้อความบนหัว
    .toptext {
      margin-top: 20px;
      margin-left: 20px;

      h1 {
        font-size: 28px;
      }

      p {
        color: #0066B3;
        font-size: 18px;
      }
    }

    // กล่อง item no
    .Box-itemNo {
      width: fit-content;
      margin: 20px;
      padding: 20px;
      background-color: #dff0ff;
      border: 3px solid #0065bd;
      border-radius: 14px;
      color: black;

      h1 {
        font-size: 30px;
        margin: 0;
      }
    }

    //  กล่อง back กับ กระดิ่งขวาบน
    .top-right-icons {
      position: absolute;
      top: 20px;
      right: 20px;
      display: flex;
      align-items: center;
      gap: 10px;

      // ปุ่ม back
      .back-btn {
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 0;

        img {
          width: 30px;
          height: 30px;
        }
      }

      // กระดิ่งแ
      .bell-container {
        position: relative;

        .lol {
          position: relative;
          border: none;
          background-color: white;
          cursor: pointer;

          i {
            color: #000;
            font-size: 25px;
          }

          .badge {
            position: absolute;
            top: -10px;
            right: -10px;
            font-size: 12px;
            padding: 4px 6px;
          }
        }
      }
    }

    // ตาราง
    .table-responsive {
      width: 100%;
      padding: 0 8px;
      margin-top: 20px;
      overflow-x: auto;
      box-sizing: border-box;

      table {
        width: 100%;
        border-collapse: collapse;
        table-layout: auto;

        th, td {
          padding: 8px 12px;
          border: 1px solid #ccc;
          text-align: center;
          white-space: nowrap;
        }
      }
    }

    // แถบเปลี่ยนหน้า
    .pagination-wrapper {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      padding: 10px 0;


      .pagination {
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;
        list-style: none;

        .page-item {
          margin: 0 5px;

          .page-link {
            padding: 6px 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            color: #0066B3;
            text-decoration: none;
            background-color: #f9f9f9;
          }

          .page-link:hover {
            background-color: #e2f0ff;
            border-color: #0066B3;
          }
        }
      }
    }
  }
}
