  <div class="detail-layout">

    <app-sidebarpurchase></app-sidebarpurchase>

    <div class="main">
      <!-- ข้อความข้างบน   -->
      <div class="toptext">
        <h1>Detail</h1>
        <p>detail item request</p>
      </div>

      <div class="top-right-icons">
        <button onclick="history.back()" class="back-btn">
          <img src="back arrow.png" alt="Back">
        </button>

        <div class="bell-container">
          <app-notification class="noti"></app-notification>
        </div>
      </div>

      <div class="group-header">

        <!-- <div class="Box-itemNo">
          <tr>
            <h4>ItemNo: {{ itemNo }}</h4>
          </tr>
        </div>
        <div class="button-Complete">
          <button class="btn-Complete" class="btn btn-danger" type="button" (click)="completeSelected()">Complete</button>
        </div>
      </div> -->

        <div class="Box-itemNo">
          <h4>ItemNo: {{ itemNo }}</h4>
        </div>
        <div class="button-Complete">
          <button class="btn-Complete" type="button" (click)="completeSelected()">
            Complete
          </button>

        </div>
      </div>

      <!-- กล่อง item no -->
      <!-- ตาราง -->

      <div class="table-responsive">
        <table class="table table-bordered text-center">

          <thead>
            <!-- <th><input type="checkbox"[(ngModel)]="selectAllChecked" (change)="toggleAllCheckboxes()"/></th> -->
            <tr>
              <th>
                <input type="checkbox" [(ngModel)]="selectAllChecked" (change)="toggleAllCheckboxes()" />
                <!-- <input type="checkbox" [(ngModel)]="selectAllChecked" (change)="toggleAllCheckboxes()" /> -->
              </th>
              <th>Document</th>
              <th>Requester</th>
              <th style="white-space: nowrap;">Part No.</th>
              <th>Item No.</th>
              <th>Spec</th>
              <th>Process</th>
              <!-- <th>ItemNo</th> chaeck itemno -->
              <th style="white-space: nowrap;">MC Type</th>
              <th>Fac</th>
              <th>DWG</th>
              <th style="white-space: nowrap;">On Hand</th>
              <th style="white-space: nowrap;">Req QTY</th>
              <th>QTY</th>
              <th style="white-space: nowrap;">Due Date</th>
              <th>Case</th>
              <th>Status</th>
              <th>Dwg</th>
              <th>Layout</th>
              <th>Remark</th>
              <th style="white-space: nowrap;">Edit</th>
              <th>Del</th>
             
          
            </tr>
          </thead>

          <!-- ในตาราง -->
          <tbody>
            <tr *ngIf="request.length === 0">
              <td colspan="11" class="text-center text-muted"> <i class="bi bi-exclamation-circle-fill"></i> Please
                select the to view item.</td>
            </tr>
            <tr *ngFor="let item of request; let i = index">
              <td><input type="checkbox" [(ngModel)]="item.Selection" /></td>
              <!--เชื่อม checkbox-->

              <td>{{ item.DocNo }}</td>
              <td>{{ item.Requester }}</td>
              <td class="PartNo-column">{{ item.PartNo }}</td>
              <td>{{ item.ItemNo }}</td>
              <td class="spec-column">{{ item.SPEC }}</td>
              <td>{{ item.Process }}</td>
              <td>{{ item.MCType }}</td>
              <td>{{ item.Fac }}</td>
              <td>{{ item.DwgRev }}</td>
              <td>{{ item.ON_HAND }}</td>
              <td>{{ item.Req_QTY }}</td>
  
              <td>
                <span *ngIf="editingIndex[item.ID_Request] !== i">{{ item.QTY }}</span>
                <input *ngIf="editingIndex[item.ID_Request] === i" type="number" [(ngModel)]="item.QTY" />
              </td>
              <td>{{ item.DueDate | date:'dd/MM/yyyy' }}</td>
              <td>{{ item.CASE }}</td>
              <td>{{ item.Status }}</td>

              <td>
                <!-- {{ item.PathDwg }} -->
                <div class="text-break"></div>
                    <button
                      *ngIf="item.PathDwg"
                      class="btn btn-link btn-sm text-primary p-0 mt-1"
                      (click)="openPdfFromPath(item.PathDwg)">
                      <i class="bi bi-file-earmark-pdf-fill text-danger"></i> View
                    </button>
              </td>
            
              <td> 
                <!-- {{ item.PathLayout }} -->
                <div class="text-break"></div>
                    <button
                      *ngIf="item.PathLayout"
                      class="btn btn-link btn-sm text-primary p-0 mt-1"
                      (click)="openPdfFromPath(item.PathLayout)">
                      <i class="bi bi-file-earmark-pdf-fill text-danger"></i> View
                    </button>
              </td>
                <!-- <td>
                  <ng-container *ngIf="editingIndex[caseKey.key] === i; else showLayoutPath">
                    <input [(ngModel)]="item.PathLayout" type="text" class="form-control" />
                  </ng-container>

                  <ng-template #showLayoutPath>
                    <div class="text-break">{{ item.PathLayout }}</div>
                    <button
                      *ngIf="item.PathLayout"
                      class="btn btn-link btn-sm text-primary p-0 mt-1"
                      (click)="openPdfFromPath(item.PathLayout)">
                      <i class="bi bi-file-earmark-pdf-fill text-danger"></i> View
                    </button>
                  </ng-template>
                </td> -->


              <td>
                <span *ngIf="editingIndex[item.ID_Request] !== i">{{ item.Remark }}</span>
                <input *ngIf="editingIndex[item.ID_Request] === i" type="text" [(ngModel)]="item.Remark"
                  type="text" />
              </td>
              <td>

                <button *ngIf="editingIndex[item.ID_Request] !== i" class="btn btn-primary btn-sm"
                  (click)="startEdit(item.ID_Request, i)">
                  <i class="bi bi-pencil-square text-white"></i>

                </button>
                <button *ngIf="editingIndex[item.ID_Request] === i" class="btn btn-success btn-sm"
                  (click)="saveEdit(item.ID_Request, i)">
                  <i class="bi bi-check-lg text-white"></i>
                </button>

               <button *ngIf="editingIndex[item.ID_Request] === i" class="btn  btn-lg"
               (click)="addNewRequest({
                  DocNo: item.DocNo,
                  Requester: item.Requester,
                  PartNo: item.PartNo,
                  ItemNo: item.ItemNo,
                  Req_QTY: item.Req_QTY,
                  QTY: item.QTY,
                  DueDate: item.DueDate,
                  Remark: item.Remark,
                  Status: item.Status,
                  SPEC: item.SPEC,
                  Process: item.Process,
                  MCType: item.MCType,
                  Fac: item.Fac,
                  DwgRev: item.DwgRev
                    })"><i class="bi bi-plus-circle text-blue"></i>
                  </button>


              </td>
            <td>
                <button class="btn btn-danger btn-sm" (click)="deleteItem(item.ID_Request)">
                  <i class="bi bi-trash" style="color: white;"></i>
                </button>
              </td>


              <!-- <button class="Editicon">
                <i class="bi bi-pencil-square"></i>
              </button> -->

              <!-- row -->
              <!-- <tr>

              <td>
                <button onclick="window.location.href='#'" class="Editicon">
                    <i class="bi bi-pencil-square"></i>
                  </button>
              </td>
              <td>
                <button onclick="window.location.href='#'" class="more">
                    <i class="bi bi-plus-circle-fill"></i>
                  </button>
              </td>
            </tr> -->


              <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->
            </tr>
          </tbody>
        </table>
      </div>
      <!-- เลือกหน้าๅ -->
      <!-- <div class="pagination-wrapper">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li  i class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </nav>
    </div> -->
    </div>
  </div>

















  <!-- ล่าสุด<div class="detail-layout">

    <app-sidebarpurchase></app-sidebarpurchase>

    <div class="main"> -->
  <!-- ข้อความข้างบน   -->
  <!-- <div class="toptext">
        <h1>Detail</h1>
        <p>detail item request</p>
      </div>

      <div class="top-right-icons">
        <button onclick="history.back()" class="back-btn">
          <img src="back arrow.png" alt="Back">
        </button>

        <div class="bell-container">
          <app-notification class="noti"></app-notification>
        </div>
      </div>

      <div class="group-header">

        <div class="Box-itemNo">
          <tr>
            <h4>ItemNo: {{ itemNo }}</h4>
          </tr>
        </div>

        <div><button class="btn-Complete" type="button" class="btn btn-danger"
            (click)="completeSelected()">Complete</button></div>



      </div> -->

  <!-- กล่อง item no -->
  <!-- ตาราง -->

  <!-- <div class="table-responsive">
        <table class="table table-bordered text-center">

          <thead> -->
  <!-- <th><input type="checkbox"[(ngModel)]="selectAllChecked" (change)="toggleAllCheckboxes()"/></th> -->
  <!-- <tr>
              <th> -->
  <!-- <input type="checkbox" [(ngModel)]="selectAllChecked" (change)="toggleAllCheckboxes()" /> -->
  <!-- </th>
              <th>Document</th>
              <th>Requester</th>
              <th style="white-space: nowrap;">Part No.</th>
              <th>Spec</th>
              <th>Process</th> -->
  <!-- <th>ItemNo</th> chaeck itemno -->
  <!-- <th style="white-space: nowrap;">MC Type</th>
              <th style="white-space: nowrap;">MC QTY</th>
              <th>Fac</th>
              <th>DWG</th>
              <th style="white-space: nowrap;">Fresh QTY</th>
              <th style="white-space: nowrap;">Reuse QTY</th>
              <th style="white-space: nowrap;">On Hand</th>
              <th style="white-space: nowrap;">Request QTY</th>
              <th>QTY</th>
              <th style="white-space: nowrap;">Due Date</th>
              <th>Case</th>
              <th>Status</th>
              <th>Remark</th>
              <th style="white-space: nowrap;">Edit (QTY)</th>
            </tr>
          </thead> -->

  <!-- ในตาราง -->
  <!-- <tbody>
            <tr *ngIf="request.length === 0">
              <td colspan="15" class="text-center text-muted">ยังไม่มีข้อมูล ( No Data )</td>
            </tr>
            <tr *ngFor="let item of request; let i = index">
              <td><input type="checkbox" [(ngModel)]="item.Selection" /></td> -->
  <!--เชื่อม checkbox-->
  <!-- <td>{{ item.DocNo }}</td>
              <td>{{ item.Requester }}</td>
              <td class="PartNo-column">{{ item.PartNo }}</td>
              <td class="spec-column">{{ item.SPEC }}</td>
              <td>{{ item.Process }}</td> -->
  <!-- <td>{{ item.ItemNo }}</td> chaeck itemno -->
  <!-- <td>{{ item.MCType }}</td>
              <td>{{ item.MCQTY }}</td>
              <td>{{ item.Fac }}</td>
              <td>{{ item.DwgRev }}</td>
              <td>{{ item.FreshQty }}</td>
              <td>{{ item.ReuseQty }}</td>
              <td>{{ item.ON_HAND }}</td>
              <td>{{ item.Req_QTY }}</td>
              <td>
                <ng-container *ngIf="editingIndex[item.CASE] === i; else showQty">
                  <input [(ngModel)]="item.QTY" type="number" class="form-control" />
                </ng-container>
                <ng-template #showQty>{{ item.QTY }}</ng-template>
              </td>
              <td>{{ item.DueDate | date:'dd/MM/yyyy' }}</td>
              <td>{{ item.CASE }}</td>
              <td>{{ item.Status }}</td>
              <td>{{ item.Remark }}</td>
              <td>
  <button *ngIf="editingIndex[item.CASE] !== i" class="btn btn-primary btn-sm"
    (click)="startEdit(item.CASE, i)">
    <i class="bi bi-pencil-square"></i>
  </button>
  <button *ngIf="editingIndex[item.CASE] === i" class="btn btn-success btn-sm"
    (click)="saveEdit(item.CASE, i)">
    <i class="bi bi-check-lg"></i>
  </button>
</td> -->


  <!-- <button class="Editicon">
                <i class="bi bi-pencil-square"></i>
              </button> -->

  <!-- row -->
  <!-- <tr>

              <td>
                <button onclick="window.location.href='#'" class="Editicon">
                    <i class="bi bi-pencil-square"></i>
                  </button>
              </td>
              <td>
                <button onclick="window.location.href='#'" class="more">
                    <i class="bi bi-plus-circle-fill"></i>
                  </button>
              </td>
            </tr> -->


  <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->
  <!-- </tr>
          </tbody>
        </table>
      </div> -->
  <!-- เลือกหน้าๅ -->
  <!-- <div class="pagination-wrapper">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li  i class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </nav>
    </div> -->
  <!-- </div>
  </div> -->
