.layout {
  display: flex;
  flex-direction: row;
  height:100vh ;
  width: 100%;
  overflow-x: hidden;

  .content {
    display: block;
    width: 100%;
    height:100vh ;
    padding: 20px;
    background-color: white;

    .row {
      justify-content: space-around;
    }

    .header-group {
      display: flex;
      width: 100%;
      justify-content: space-between;

      .header {
        display: block;

        .h1 {
          font-size: 22px;
          margin-bottom: 5px;
        }

        .p {
          font-size: 15px;
          margin-bottom: 5px;
          color: rgb(16, 3, 114);
        }
      }

      .button {
        display: block;
        background-color: #9ACBD0;
        margin: 30px;
        border: 10px;
        border-radius: 10px;
        height: 45px;
        width: 200px;
        font-size: 20px;

        cursor: pointer;
        transition-duration: 0.2s;

      }

      .button:hover {
        background-color: #89A8B2;
        color: black;
      }
    }
    .table-responsive {
      max-height: 550px;
      max-width: 1290px;


      table {
        width: 100%;
        border-collapse: collapse;
        color: #4a4949;


      th,
      td {
        padding: 6px;
        text-align: center;
        border: 1px solid #D2D2D2;
      }

      th {
        background-color: #b0b0b0;
        padding: 15px;
        font-size: 16px;
        font-weight: 100;
      }

      thead th {
        background-color: #E3E3E3;
        padding: 15px;
        font-size: 16px;
        font-weight: 100;
      }

      td {
        padding: 12px;
        text-align: center;
        border: 1px solid #d2d2d2;
        color: black;

      }
    }

  }
    i {
      color: #0066B3;
    }

    //สีน้ำเงิน



}
}
