.layout{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow-x: hidden;

  .content{
    display: block;
    width: 100%;
    height: 100%;
    padding: 20px;

    .header{
      display: flex;
    }
  }
}
