<div class="layout">

  <app-sidebarpurchase></app-sidebarpurchase>

  <div class="content">
    <div class="header-group">

      <div class="header">
        <h1 class="h1"> Employee </h1>
        <p class="p"> Add user who have permission to use this program. </p>
      </div>

      <button class="button"  data-bs-toggle="modal" data-bs-target="#Insert" > + Add </button>
    </div>

    <table class="table">
      <!-- Column name -->
      <thead>
        <tr>
          <th> Employee ID </th>
          <th> Employee Name </th>
          <th> Role </th>
          <th> Username </th>
          <th> Password </th>
          <th> Email </th>
          <th> Del </th>
        </tr>
      </thead>
      <!-- Values -->
      <tbody>
        <tr *ngFor="let Employee of Employee">
          <td> {{ Employee.Employee_ID }} </td>
          <td> {{ Employee.Employee_Name }} </td>
          <td> {{ Employee.Role }} </td>
          <td> {{ Employee.Username }} </td>
          <td> {{ Employee.Password }} </td>
          <td> {{ Employee.Email }}</td>
           <td>
        <button class="btn btn-danger btn-sm" (click)="deleteEmployee(Employee.Employee_ID)">
          <i class="bi bi-trash"></i> Delete
        </button>
      </td>
        </tr>
      </tbody>
    </table>

  </div>

</div>

 <div class="modal fade" id="Insert" tabindex="-1" aria-labelledby="InsertLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <h1 class="modal-title fs-5" id="InsertLabel">Add Employee</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <form>
          <!--  Role -->
          <div class="mb-3">
            <label class="form-label">Role</label>
            <ng-select
              [items]="Role"
              bindLabel="label"
              bindValue="value"
              [(ngModel)]="Role_"
              name="Role"
              placeholder="Select a role">
            </ng-select>
          </div>

          <!--  Employee ID & Name -->
          <div class="mb-3 row">
            <div class="col">
              <label for="EmployeeId" class="form-label">Employee ID</label>
              <input type="text" id="EmployeeId" class="form-control" name="EmployeeId" [(ngModel)]="EmployeeId_" />
            </div>
            <div class="col">
              <label for="EmployeeName" class="form-label">Employee Name</label>
              <input type="text" id="EmployeeName" class="form-control" name="EmployeeName" [(ngModel)]="EmployeeName_" />
            </div>
          </div>

          <!-- Username & Password -->
          <div class="mb-3 row">
            <div class="col">
              <label for="Username" class="form-label">Username</label>
              <input type="text" id="Username" class="form-control" name="Username" [(ngModel)]="Username_" />
            </div>
            <div class="col">
              <label for="Password" class="form-label">Password</label>
              <input type="text" id="Password" class="form-control" name="Password" [(ngModel)]="Password_" />
            </div>
          </div>

           <!-- Username & Password -->
          <div class="mb-3 row">
            <div class="col">
              <label for="Username" class="form-label">Email</label>
              <input type="text" id="Username" class="form-control" name="Username" [(ngModel)]="Email_" />
            </div>
            
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="addEmployee()">Save</button>
      </div>

    </div>
  </div>
</div>