.layout {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow-x: hidden;

  .content {
    display: block;
    width: 100%;
    height: 100%;
    padding: 20px;

    .header-group {
      display: flex;
      width: 100%;
      justify-content: space-between;

      .header {
        display: block;

        .h1{
          font-size: 22px;
          margin-bottom: 5px;
        }

        .p{
          font-size: 15px;
          margin-bottom: 5px;
          color: #0066B3;
        }
      }

      .button {
        display: block;
        background-color: #9ACBD0;
        margin: 30px;
        border: 10px;
        border-radius: 10px;
        height: 45px;
        width: 100px;
        font-size: 20px;
        cursor: pointer;
        transition-duration: 0.2s;

      }
        .button:hover{
          background-color: #89A8B2;
          color: black;
        }
    }



  }
}
