<nav class="sidebar">
  <div class="top">
      <!-- logo -->
      <img src="logominebea.png" width="205px" />
    <!-- แถบเมนู -->
     <ul class="nav-links">
        <li routerLinkActive="active">
          <a routerLink="/purchase/requestlist"> <i class="bi bi-newspaper"></i> Request List </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/purchase/history-request"> <i class="bi bi-clock-history"></i> History </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/purchase/add-user"> <i class="bi bi-person-fill-add" style="font-size: 25px;"></i> Add User </a>
        </li>
        <!-- <li routerLinkActive="active">
         <a routerLink="/purchase/graphanalyze"> <i class="bi bi-clock-history"></i> Graph Analyze </a>
        </li> -->
         <!-- <li routerLinkActive="active">
         <a routerLink="/detail"> <i class="bi bi-clock-history"></i>Detail </a>
        </li> -->
      </ul>

  </div>
  <!-- ปุ่มlogout+Username -->
  <div class="bottom">
    <div class="user-info" style="font-size: 18px;"> {{ Employee_Name }} </div>
    <button (click)="logout()" class="logout-btn"><i class="bi bi-box-arrow-right" style="color: red;"></i></button>
  </div>
</nav>


