<nav class="sidebar">
    <!-- แถบของเมนูแยกกับusername -->
  <div class="top">
    <!-- logominebea -->
    <img src="logominebea.png" width="205px" />
    <!-- แถบlink Pages -->
    <ul class="nav-links">
      <!-- ปุ่มกดpage ใช้ routerlinkเผื่อเชื่อมไปหน้าค่าวๆและroterlinkactiveเพื่อให้ขึ้นสีค้างไว้เมื่ออยู่หน้านั้นๆ -->
        <li routerLinkActive="active">
          <a routerLink="/home"> <i class="bi bi-newspaper"></i> Request </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/cart"> <i class="bi bi-cart"></i> Cart </a>
        </li>
        <li routerLinkActive="active">
         <a routerLink="/history"> <i class="bi bi-clock-history"></i> History </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/about"> About Us </a>
        </li>
        <li routerLinkActive="active">
         <a routerLink="/requestlist">  Request List </a>
        </li>
        <li routerLinkActive="active">
         <a routerLink="/HistoryRequest">  History Request </a>
        </li>
         <li routerLinkActive="active">
         <a routerLink="/detail">  Detail </a>
        </li>
      </ul>
  </div>
  <!-- ฝั่งแสดงแถบUsernameและปุ่มlogout -->
  <div class="bottom">
    <div class="user-info">Username</div>
    <button (click)="logout()" class="logout-btn">❌</button>
  </div>
</nav>


