// จัดฝั่งsidebarทั้งหมด
.sidebar {
  height: 100vh;
  width: 200px;
  background-color:#d6e6f2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  // จัดเรียงclass top
  .top {
    //active ตอนอยู่ในหน้านั้นๆ
    .nav-links li.active a{  
          color: white;
            background-color: #005eb8;
}
    // ปรับแต่งlogo
    .logo {
      font-size: 36px;
      font-weight: bolder;
      text-align: center;
      margin: 10px 0px 10px 0px;

    }
    // ฝั่งทางเมนูทั้งหมด
    .nav-links {
      list-style: none;
      margin: auto;
      padding: 0;
      font-size: 18px;
      cursor: pointer;
      // ระยะห่างระหว่างเมนู
      li {
        margin: 5px 0px 20px 0px;
        // แต่งภายในปุ่ม
        a {
          color: rgb(74, 74, 74);
          display: block;
          padding: 20px;
          text-align: center;
          text-decoration: none;
          // แสดงการเคลื่อนไหวเมื่อเอาเม้าส์ชี้
          &:hover {
            color: #ffffff;
            background-color: #005eb8;
          }
        // 
        span {
          background-color: red;
          color: white;
          padding: auto;
          border-radius: 30px;
          font-size: 30px;
        }
        }
      }
    }
  }
// ปุ่มlogoutด้่นล่าง
  .bottom {
    display:flex;
    text-align: center;
    font-size: 20px;
    justify-content: space-around;
    padding: 15px;
    box-shadow: 20px 0 20px rgba(0,0,0,0.1);
    background-color: #e3effa;
    
    .logout-btn {
      background: none;
      cursor: pointer;

      &:hover {
        background-color: #ed1111;
        border-color: transparent;
      }
      
    }
  }
}


