.sidebar {
  height: 100vh;
  width: 200px;
  background-color:#ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  border-right: 0.5px solid rgb(169, 163, 163);
  

  .top {
    .logo {
      font-size: 36px;
      font-weight: bolder;
      text-align: center;
      margin: 30px 0px 40px 0px;

    }

    .nav-links {
      list-style: none;
      margin: auto;
      padding: auto;
      font-size: 18px;
      cursor: pointer;


      li {
        margin: 20px 0px 20px 0px;

        a {
          color: rgb(74, 74, 74);
          display: block;
          padding: 20px;
          text-align: center;

          &:hover {
            color: #ffffff;
            background-color: #005eb8;
          }

        span {
          background-color: red;
          color: white;
          padding: auto;
          border-radius: 30px;
          font-size: 30px;
        }
        }
      }
    }
  }

  .bottom {
    display:flex;
    text-align: center;
    font-size: 20px;
    justify-content: space-around;
    padding: 15px;
    box-shadow: 20px 0 20px rgba(0,0,0,0.1);
    background-color: #ffffff;
    border-radius: 5px;

    .logout-btn {
      background: none;
      cursor: pointer;

      &:hover {
        background-color: #ed1111;
        border-color: transparent;
      }
    }
  }
}
