.sidebar {
  height: 100vh;
  width: 200px;
  background-color:#749BC2;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  // padding: 20px;

  .top {
    .logo {
      font-size: 36px;
      font-weight: bold;
      text-align: center;
      margin: 20px 0px 20px 0px;

    }

    .nav-links {
      list-style: none;
      margin: auto;
      padding: auto;
      font-size: 30px;
      cursor: pointer;


      li {
        margin: 20px 0px 20px 0px;

        a {
          color: whitesmoke;
          display: block;
          padding: 20px;
          text-align: center;

          &:hover {
            color: #4682A9;
            background-color: #FFFBDE;
          }

        span {
          background-color: red;
          color: white;
          padding: auto;
          border-radius: 30px;
          font-size: 30px;
        }
        }
      }
    }
  }

  .bottom {
    display:flex;
    text-align: center;
    font-size: 20px;
    justify-content: space-around;
    padding: 20px;

    .logout-btn {
      background: none;
      cursor: pointer;

      &:hover {
        background-color: #FFFBDE;
        border-color: transparent;
      }
    }
  }
}
