.layout {
  display: flex;


  .content {
    display: block;
    width: 100%;
    background-color: white;
  }

    .re {
      font-size: 40px;
      margin-top: 20px;
      margin-left: 20px;
    }

    .the {
      font-size: 20px;
      margin-top: 20px;
      margin-left: 20px;
      color: #0066B3;
    }


    .box-input {
      justify-content: space-between;
      width: 100%;
    }



      .form-input {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 5px 0 5px 0;
        gap: 25px;

      }



      .group-select {
        //label+select
        flex-direction: column;
        display: flex;
        margin-top: 20px;
        margin-left: 20px;
      }


        label {
          font-size: 16px;
          color: #2d2c2c;
          text-align: center;
          margin-bottom: 5px;


        }

        
        input {
          padding: 8px;
          border: 1px solid #b9b6b6;
          border-radius: 10px;
          font-size: 14px;
          color: #7a7878;
          width: 200px;
        }
      

      table {

        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
        color: #4a4949;
      }


        
        td {
          padding: 12px;
          text-align: left;
          border: 1px solid #D2D2D2;
          text-align: center;


        }

        .pagination {
          display: flex;
          justify-content: center ;
          padding: 0;
          margin: 0;
          bottom: 0;

        }

        .pagination-wrapper {
          position: fixed;
          bottom: 0;
          left: 0;
          width: 100%;
          text-align: center;
          padding: 10px 0;
        }
        

      }