.layout{
  display: flex;
  // width: 100%;

  .content{
    display: block;
    width: 100%;
  }

}
.re{
  font-size: 40px;
}

.the{
  font-size: 20px;
}

box-input{
   display: flex;
   justify-content: space-between;
}

 .form-input{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 5px 0 5px 0;
            gap: 25px;
            
 }
            
    

    .group-select { //label+select
            flex-direction: column;
            display: flex;
    }

    label {
              font-size: 16px;
              color: #2d2c2c;
              text-align: center;
              margin-bottom: 5px;
              
         
              }
              select,input{
                padding: 8px;
                border: 1px solid #b9b6b6;
                border-radius: 10px;
                font-size: 14px;
                color: #7a7878;
                width: 200px;
              }

    table {
        
        width: 100%;
        border-collapse: collapse;
        margin-top:20px ;
        color: #4a4949;
    }
        
        th, td {
          padding: 12px;
          text-align: left;
          border: 1px solid #D2D2D2;
          text-align: center;
          width: 100%;
          
        }
