.layout {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  overflow: hidden;

  .content {
    width: 100%;
    height: 100%;
    display: block;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    background-color: white;
   
    
    
  

    .re {
      margin-bottom: 5px;
      font-size: 22px;
      
    }

    .the {
      margin-bottom: 5px;
      color: #0066B3;
      font-size: 15px;
    }


    .box-input {
      justify-content: space-between;
      width: 100%;
    }

    .header {
      display: flex;
      justify-content: space-between;
      flex-direction: row;


      h4 {
        margin-bottom: 5px;

      }

      .lol {
        border: none;
        background-color: white;
        

        i {
          color: #000000;
          font-size: 25px;
          margin-right: 10px;
         
        }

      }
    }

      

      .form-input {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 5px 0 5px 0;
        gap: 25px;

      }



      .group-select {
        //label+select
        flex-direction: column;
        display: flex;
        margin-top: 20px;
        margin-left: 20px;
      }

      .form-select {
        color: #7a7878; /* สีเทาสำหรับ placeholder */
        border: 1px solid rgb(157, 157, 157); /* กรอบสีดำ */
        border-radius: 10px;
        padding: 8px;
        font-size: 14px;
        width: 200px;
      }


      .form-select:valid {
        color: black;
      }

        label {
          font-size: 16px;
          color: #2d2c2c;
          text-align: center;
          margin-bottom: 5px;


        }

      .form-select option {
        color: black;
      }


        input {
          padding: 8px;
          border: 1px solid #b9b6b6;
          border-radius: 10px;
          font-size: 14px;
          color: #7a7878;
          width: 200px;
        }


      table {

        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
        color: #4a494a;
        
      

        td {
          padding: 12px;
          text-align: left;
          border: 1px solid #D2D2D2;
          text-align: center;
        
        }

        thead th {
          position: sticky;
          top: 0;
          background-color: #E3E3E3;
          z-index: 2;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
          border: 1px solid #d2d2d2;
        }
      }

        .pagination {
          display: fixed;
          justify-content: center ;
          padding: 0;
          margin: 0;
          bottom: 0;

        }

        .pagination-wrapper {
          position: fixed;
          bottom: 0;
          left: 0;
          width: 100%;
          text-align: center;
          padding: 10px 0;
        }
        

        .detailicon {
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
        
        img {
          
          height: 25px;
        }
      }
    }

  }