/* จัดเลย์เอาต์ sidebar + content */
.layout {
   display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}


.content {
  flex: 1;               /* กินพื้นที่ที่เหลือ */
  padding: 20px;
  background-color: white;
  overflow-y: auto;      /* เลื่อนเฉพาะ content */
  /* ลบ height: 100vh ออก */
  display: flex;          /* ถ้าต้องการให้ child เต็มพื้นที่ */
  flex-direction: column;
}
    .header-group {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
      .header {
        display: block;
      }
        .h1 {
          font-size: 22px;
          margin-bottom: 5px;
        }

        .p {
          font-size: 15px;
          margin-bottom: 5px;
          color: rgb(16, 3, 114);
        }
      
.card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 คอลัมน์ในแถว */
  grid-auto-rows: minmax(400px, auto);
  gap: 20px;
  padding: 20px;
}

.card {
  background: #fff;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  justify-content: center;
  margin-bottom: 3ch;
}

.select{
  margin-bottom: 50px;
}


.controls {
  display: flex;
  gap: 30px;
  margin-bottom: 10px;
  // height: 150px;
}


.control-item {
  display: flex;
  flex-direction: column;
}

.control-item label {
  margin-bottom: 6px;
  font-weight: 600;
  color: #333;
}

.control-item input,
.control-item select {
  padding: 10px 14px;
  border: 0.5px solid #333;
  border-radius: 8px;
  font-size: 15px;
  transition: all 0.3s ease;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}






.card.large {
  grid-column: span 2; /* การ์ดใหญ่ 2 column */
  min-height: 400px;
}




.card h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  
}

.card-header{
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 16px 8px 16px;
}


.sub-text {
  color: #a01111;
  font-size: 14px;
  margin-bottom: 10px;
  // height: 90px;
}

.footer {
  font-size: 12px;
  color: #888;
  margin-top: 10px;
}

