<!-- เอาไว้แยกsidebarและตัวหน้า -->
<div class="layout">
  <!-- sidebarฝั่งuser -->
  <app-sidebar></app-sidebar>
  <!-- หน้าทั้งหมดไม่รวมsidebar -->
  <div class="content-area">
    <div class="header">
      <h4>Request </h4>
      <button class="lol" type="button"><i class="bi bi-bell"></i>
        <span class="position-absolute top-2  translate-middle badge rounded-pill bg-danger">99+
          <span class="visually-hidden">unread messages</span>
        </span></button>

    </div>
    <p>Product Requisition </p>

    <!-- group รวม 2 row,button -->
    <div class="group-req ">
      <!-- row1+row2 -->
      <div class="input-req">
        <!-- row1 -->
        <div class="req-row1">
          <!-- รวม label,select ของ division,fac,phon,date -->
          <div class="group-select">
            <label for="division">Division</label>
            <ng-select 
              [items]="Div" 
              bindLabel="label" 
              bindValue="value" 
              [(ngModel)]="div_" 
              placeholder="Select Division">
            </ng-select>
          </div>
          <div class="group-select">
            <label for="Fac">Fac</label>
            <ng-select 
              [items]="Fac" 
              bindLabel="label" 
              bindValue="value" 
              [(ngModel)]="fac_"
              placeholder="Select a Fac">
            </ng-select>
          </div>
          <div class="group-select">
            <label for="phonenumber">Phone Number</label>
            <input type="tel" class="form-control" placeholder="Enter your phone number" id="phonenumber" />
          </div>
          <div class="group-select"> 
            <label for="date">Date</label>
            <input type="date" class="form-control" placeholder="Enter date" id="date" [(ngModel)]="Date" />
          </div>
          <div class="group-select" style="width: 180px;">
            <label for="case" >Case </label>
            <ng-select 

              [items]="Case" 
              bindLabel="Case" 
              bindValue="value" 
              [(ngModel)]="selectedType"
              (change)="onTypechange()"
              placeholder="Select a case">
            </ng-select>
          </div>
        </div>
        <!--div row1-->
        <!-- row2 label,select case,Spec,Process,Machine No,QTY-->
        <div class="req-row2">
          <!-- group รวม label,select -->
          <div class="group-select">
            
            <label for="case">Part No. </label>
            <ng-select 
              [items]="partNo" 
              bindLabel="label" 
              bindValue="value" 
              [(ngModel)]="selectedPratNo"
              (ngModelChange)="onPartNoChange()"
              placeholder="Select  partNo">
            </ng-select>
          </div>
          <div class="group-select">
            <label for="spec">Spec</label>
            <ng-select 
              [items]="spec" 
              bindLabel="label" 
              bindValue="value" 
              [(ngModel)]="selectedSpec"
              (ngModelChange)="onSpecChange()"
              placeholder="Select spec">
            </ng-select>
          </div>
          <div class="group-select">
            <label for="process">Process</label>
            <ng-select 
              [items]="process" 
              bindLabel="label" 
              bindValue="value" 
              [(ngModel)]="selectedProcess"
              (ngModelChange)="onProcessChange()"
              placeholder="Select process">
            </ng-select>
          </div>
          <div class="group-select">
            <label for="Machine No">Machine Type</label>
            <ng-select 
              [items]="machineType" 
              bindLabel="label" 
              bindValue="value" 
              [(ngModel)]="selectedMachineType"
              placeholder="Select machineType">
            </ng-select>
          </div>
          <!-- inputQTYใส่เลข -->
          <div class="group-select" *ngIf="selectedType === 'setup' " >
            <label for="phonenumber">QTY</label>
            <input  type="number" class="form-control" min="0" step="1" placeholder="Enter QTY" id="qty" />
          </div>
          <!--div group-select -->
        </div>
        <!--div row2-->
        
      </div>
      <!--div input-req-->
      <!-- btn group -->
      <div class="btn-group-req">
        <button class="btn-viewall" type="button" (click)="clearall()"> CLEARALL <i class="bi bi-list"></i></button>
        <button class="btn-import" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
          data-bs-whatever="@getbootstrap"> IMPORT <i class="bi bi-download"></i></button>
        <button class="btn-view" type="button" (click)="Setupview()"> VIEW <i class="bi bi-eye-fill"></i></button>
        
      </div>
      
    </div>
    <!--div grop-req-->
    <!-- table setup-->
    <div class="table-responsive">
      
      <table *ngIf="selectedType === 'setup' && items.length > 0"class="table table-bordered text-center">
        <thead>
          <tr>
            <th>
              <input type="checkbox"  >
            </th>
            <th>Part No.</th>
            <th>Item No.</th>
            <th>Spec</th>
            <th>Process</th>
            <th>Machine Type</th>
            <th>Machine No.</th>
            <th>On Hand</th>
            <th>Usage</th>
            <th>QTY</th>
            <th>Case</th>
            
          </tr>
        </thead>
        <tbody>
        <tbody>
          <tr *ngFor="let item of items ">
            <td><input type="checkbox"  ></td>
            <td>{{ item.partNo }}</td>
            <td>{{ item.itemNo }}</td>
            <td>{{ item.spec }}</td>
            <td>{{ item.process }}</td>
            <td>{{ item.machineType }}</td>
            <td>{{ item.machineNo }}</td>
            <td>{{ item.onHand }}</td>
            <td>{{ item.usage }}</td>
            <td><input class="yoyu" type="number" [(ngModel)]="item.qty"min="1"></td>
            <td>SET UP</td>
          </tr>
        </tbody>
      </table>
      <!-- <div *ngIf="items.length === 0 && isSearched" class="alert alert-warning mt-2">
        ไม่พบข้อมูล
      </div> -->
    </div>




    <!-- table other-->
    <div class="table-responsive">
      
      <table *ngIf="selectedType === 'other' && items.length > 0"class="table table-bordered text-center">
        <thead>
          <tr>
            <th>
              <input type="checkbox" id="selectAll" >
            </th>
            <th>Part No.</th>
            <th>Item No.</th>
            <th>Spec</th>
            <th>Process</th>
            <th>Machine Type</th>
            <th>Machine No.</th>
            <th>On Hand</th>
            <th>Usage</th>
            <th>QTY</th>
            <th>Case</th>
            
          </tr>
        </thead>
        <tbody>
        <tbody>
          <tr *ngFor="let item of items ">
            <td><input type="checkbox" ></td>
            <td>{{ item.partNo }}</td>
            <td>{{ item.itemNo }}</td>
            <td>{{ item.spec }}</td>
            <td>{{ item.process }}</td>
            <td>{{ item.machineType }}</td>
            <td><input class="yoyu" type="number" ></td>
            <td>{{ item.onHand }}</td>
            <td>{{ item.usage }}</td>
            <td><input class="yoyu" type="number" ></td>
            <td>
              <ng-select 
              [items]="caseother" 
              bindLabel="caseother" 
              bindValue="viewCase" 
              [(ngModel)]="item.caseother_"
              [appendTo]="'body'"
              placeholder="Select a case">
              </ng-select>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- <div *ngIf="items.length === 0 && isSearched" class="alert alert-warning mt-2">
        ไม่พบข้อมูล
      </div> -->
    </div>






    <button class="btn-sendrequest" type="button" (click)="addTocart()" ><i class="bi bi-cart-plus"></i> Add To Cart</button>
  </div>
  <!--div box-main-->
</div>
<!--div home-layout-->

<!-- test Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">UpLode file</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Open File:</label>
            <button type="button" class="form-control" id="recipient-name"
              style="width: 200px; background-color: dimgrey; color: white;">Open File</button>
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send File</button>
      </div>
    </div>
  </div>
</div>
