<!-- จัดเรียงsidebarและหน้าทั้งหน้า -->
<div class="history-layout">
  <!-- sidebarฝั่งuser -->
  <app-sidebar></app-sidebar>
  <!-- ข้อมูลในหน้านี้ไม่รวมsidebar -->
  <div class="main">
    <div class="header">
        <h4>History</h4>
        <app-notification class="noti"></app-notification>
      </div>

    <p>Requset History</p>
    <!-- ฝั่งdropdownรับค่า -->
    <div class="box-input">
      <div class="form-input">
        <div class="group-select">
          <label for="datesetup">Date </label>
          <input type="date" [(ngModel)]="fromDate" placeholder="From Date">
        </div>
        <h6>TO</h6>
        <div class="group-select">
          <label for="duedate">Date</label>
          <input type="date" [(ngModel)]="toDate" placeholder="To Date">
        </div>
        <div class="group-select">
          <label for="satus">Status</label>
            <ng-select
              [items]="Status"
              bindLabel="label"
              bindValue="value"
              [(ngModel)]="Status_"
              
              placeholder="Select a Status">
            </ng-select>
        </div>
      <div class="group-select">
          <label>PartNo</label>
          <ng-select
            [items]="partNoList"
            bindLabel="label"
            bindValue="value"
            [(ngModel)]="selectedPartNo"
            [virtualScroll]="true"
            placeholder="Select a PartNo">
          </ng-select>
        </div>
      </div>
      <div class="btn-group-req">
        <button class="btn-sort" type="button" (click)="onSort()" > Sort <i class="bi bi-sort-down"></i></button>
      </div>
    </div>
    <!-- ตารางที่รับค่ามาจากการกดsend request -->
    <div class="table-responsive">
      <table class="table table-bordered">
          <thead>
            <tr>
              <th>No.</th>
              <th>Doc No</th>
              <th>Division</th>
              <th>Fac</th>
              <th>Part No</th>
              <th>Process</th>
              <th>QTY</th>
              <th>Status</th>
              <th>DueDate</th>
            </tr>
          </thead>
          <tbody>
           <tr *ngFor="let item of requests; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ item.DocNo }}</td>
            <td [ngSwitch]="item.Division">
              <span *ngSwitchCase="'7122'">GM</span>
              <span *ngSwitchCase="'71DZ'">PMC</span>
              <span *ngSwitchDefault>{{ item.Division }}</span>
            </td>
            <td>{{ item.Fac }}</td>
            <td>{{ item.PartNo }}</td>
            <td>{{ item.Process }}</td>
            <td>{{ item.QTY }}</td>
            <td>{{ item.Status }}</td>
            <td>{{ item.DueDate | date:'dd/MM/yyyy' }}</td>
          </tr>
          </tbody>
        </table>
    </div>
    <!--table-->

  </div>
</div>
