<!-- จัดเรียงsidebarและหน้าทั้งหน้า -->
<div class="history-layout">
  <!-- sidebarฝั่งuser -->
  <app-sidebar></app-sidebar>
  <!-- ข้อมูลในหน้านี้ไม่รวมsidebar -->
  <div class="main">
    <div class="header">
        <h4>History</h4>
        <i class="bi bi-bell"></i>
      </div>
    
    <p>Requset History</p>
    <!-- ฝั่งdropdownรับค่า -->
    <div class="box-input">
      <div class="form-input">
        <div class="group-select">
          <label for="datesetup">Date Setup</label>
          <input type="date" id="datesetup">
        </div>
        <h6>TO</h6>
        <div class="group-select">
          <label for="duedate">Due Date</label>
          <input type="date" id="duedate">
        </div>
        <div class="group-select">
          <label for="satus">Satus</label>
          <app-dropdown-search></app-dropdown-search>
        </div>
        <div class="group-select">
          <label for="filter">Filter/Select Item</label>
          <app-dropdown-search></app-dropdown-search>
        </div>
      </div>
      <div class="btn-group-req">
        <button class="btn-sort" type="submit"> Sort <i class="bi bi-sort-down"></i></button>
      </div>
    </div>
    <!-- ตารางที่รับค่ามาจากการกดsend request -->
    <div class="table-responsive">
      <table class="table table-bordered text-center">
        <!-- หัวตาราง -->
        <thead>
          <tr>
            <th>No.</th>
            <th>Doc_Name</th>
            <th>Division</th>
            <th>Fac</th>
            <th>Date</th>
            <th>Process</th>
            <th>Status</th>
            <th>Detail</th>
            
          </tr>
        </thead>
        <!-- ในตาราง -->
        <tbody>
            <tr *ngFor="let doc of docs; index as i">
              <td>{{ i + 1 }}</td>
              <td>{{ doc.doc_no }}</td>
              <td>{{ doc.division || '-' }}</td>
              <td>{{ doc.fac || '-' }}</td>
              <td>{{ doc.date || (doc.createdDate || '-') }}</td>
              <td>{{ doc.process || 'Waiting' }}</td>
              <td>{{ doc.status || 'Pending' }}</td>
              <td>
                <button class="btn btn-sm btn-outline-primary" >View</button>
              </td>
            </tr>
          </tbody>
         
          
        
      </table>
    </div>
    <!--table-->
    
  </div>
</div>
