.home-layout {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  overflow: hidden;

  .content-area {
    flex-grow: 1;
    padding: 20px;
    background-color: #f4f4f4;
    overflow-y: auto;
    margin-left: 0;
    height: 100%;
  }

  app-sidebar {
    width: 200px;
  }
}
