.home-layout {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  overflow: hidden;
  


  .box-main{
    width: 100%;
    height: 100%;
    display: block;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    background-color: white;

    h1 {
      margin-bottom: 5px;
      
    }
    p{
      color: rgb(16, 3, 114);
      margin-bottom: 20px;
    }

    .group-req {
        display: flex;
        justify-content: space-between;
        
    
        .input-req {
          display: flex;
          align-items: start;
          flex-direction: row;
          
          .group-select {
          display: flex;
          flex-direction: column;
            
            
            

           
          } // .group-select

          
        } // .input-req
    } //.group-req
  } // .box-main
} // .home-
