.home-layout {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  overflow: hidden;
  


  .box-main{
    width: 100%;
    height: 100%;
    display: block;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    background-color: white;

    h1 {
      margin-bottom: 5px;
      
    }
    p{
      color: rgb(16, 3, 114);
      margin-bottom: 20px;
    }
     //จัดให้แนวนอนยังไง???????
    .group-req {      //row1+row2+button
        display: flex;

    
        .input-req {    //row1=row2
          display: flex;
          flex-direction: column;
          
          
          .req-row1,.req-row2 { //row1,row2
            display: flex;
            flex-direction: row;
            margin-right: 20px;
          

          .group-select { //label+select
            flex-direction: column;
            text-align: center;
            margin: 5px;


            label {
              font-size: 16px;
         
              }
              select,input{
                padding: 4px;
                border: 1px solid #b9b6b6;
                border-radius: 4px;
                font-size: 14px;
                color: #7a7878;
                
              }
            
            }

           
          } // .group-select
          
          
        } // .input-req
    } //.group-req


    
    //ตารางในbox-main
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top:20px ;
        
        th, td {
          padding: 12px;
          text-align: left;
          border: 1px solid #000000;
          text-align: center;
          
        }

        th {
          background-color: #d1cfcf;
          padding: 15px;
          font-size: 18px;
          font-weight: 100;
        }
      }
      }// .box-main
  } // .home-