.home-layout {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;

  .content-area {
    flex-grow: 1;
    padding: 2rem;
    background-color: #f4f4f4;
    overflow-y: auto;
  }

  app-sidebar {
    width: 250px;
  }
}
