.home-layout {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  overflow: hidden;
  


  .box-main{
    width: 100%;
    height: 100%;
    display: block;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    background-color: white;

    h1 {
      margin-bottom: 5px;
      
    }
    p{
      color: rgb(16, 3, 114);
      margin-bottom: 20px;
    }
     //จัดให้แนวนอนยังไง???????
    .group-req {      //row1+row2+button
        display: flex;
        justify-content: space-between;

    
        .input-req {    //row1=row2
          display: flex;
          flex-direction: column;
          // gap: 20px;
          
          
          .req-row1,.req-row2 { //row1,row2
            display: flex;
            flex-direction: row;
            margin: 5px 0 5px 0;
            gap: 25px;
            
          

          .group-select { //label+select
            flex-direction: column;
            display: flex;
            


            label {
              font-size: 16px;
              color: #2d2c2c;
              text-align: center;
              margin-bottom: 5px;
              
         
              }
              select,input{
                padding: 8px;
                border: 1px solid #b9b6b6;
                border-radius: 10px;
                font-size: 14px;
                color: #7a7878;
                width: 200px;
                
                
              }
            
            }

           
          } // .group-select

          
          
          
        } // .input-req

        .btn-group-req {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin: 20px;

          .btn-view {
            width: 100px;
            height: 45px;
            background-color: #005eb8;
            color: white;
            border: none;
            border-radius: 10px;
            font-size: 18px;
            cursor: pointer;
            margin-top: 10px;

            
          }
          .btn-import {
            width: 100px;
            height: 45px;
            background-color: #00a5b5;
            color: white;
            border: none;
            border-radius: 10px;
            font-size: 18px;
            cursor: pointer;
            margin-top: 10px;

          }

        }
    } //.group-req


    
    //ตารางในbox-main
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top:20px ;
        color: #4a4949;
        
        th, td {
          padding: 12px;
          text-align: left;
          border: 1px solid #D2D2D2;
          text-align: center;
          
        }

        th {
          background-color: #E3E3E3;
          padding: 15px;
          font-size: 18px;
          font-weight: 100;
        }
      }
      }// .box-main
  } // .home-