<div class="login-page">

  <div class="login-card">
    <h1>Login</h1>

    <form>
      <label for="userid">User ID :</label>
      <input type="text" name="userid" required placeholder="Enter user id"/>

            <label for="password">Password :</label>
            <input type="password" id="passwordinput"name="password" required placeholder="Enter password"/>

            <div class="show-password">
                <input type="checkbox" id="showpwd" />
                <label for="showpwd">Show password</label>
            </div>

      <div class="show-password">
        <input type="checkbox" id="showpwd"/>
        <label for="showpwd">Show password</label>
      </div>

      <button type="submit" class="btn-singin"> IN</button>

    </form>

  </div>
</div>
