.layout {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  overflow: hidden;

  .content-area {
    width: 100%;
    height: 100%;
    display: block;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    background-color: white;

    .header {
      display: flex;
      justify-content: space-between;
      flex-direction: row;

      .noti{
        justify-self: end;

      }

      h4 {
        margin-bottom: 5px;

      }

      .lol {
        border: none;
        background-color: white;

        i {
          color: #000000;
          font-size: 25px;
          margin-right: 10px;

        }

      }
    }

    p {
      color: rgb(16, 3, 114);
      margin-bottom: 5px;
    }


    //row1+row2+button
    .group-req {
      display: flex;
      justify-content: space-between;
      .group-select {
            flex-direction: column;
            display: flex;

            label {
              font-size: 16px;
              color: #2d2c2c;
              text-align: center;
              margin-bottom: 5px;
            }
          }

      //row1=row2
      .input-req {
        display: flex;
        flex-direction: column;

        //row1,row2
        .req-row1,
        .req-row2 {
          display: flex;
          flex-direction: row;
          margin: 5px 0 5px 0;
          gap: 25px;

          //label+select
          .group-select {
            flex-direction: column;
            display: flex;

            label {
              font-size: 16px;
              color: #2d2c2c;
              text-align: center;
              margin-bottom: 5px;
            }

            .ng-select {

              width: 180px;
              border-radius: 20px;
            }

            input {
              padding: 8px;
              border-radius: 5px;
              font-size: 14px;
              color: #7a7878;
              width: 180px;

            }
          }
        }

        // .group-select  
      }

      // .input-req

      .btn-group-req {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 20px;
        .btn-viewall {
          width: 120px;
          height: 45px;
          background-color: #545455;
          color: white;
          border: none;
          border-radius: 10px;
          font-size: 18px;
          cursor: pointer;
          margin-top: 10px;
        }

        .btn-view {
          width: 120px;
          height: 45px;
          background-color: #e88a08;
          color: white;
          border: none;
          border-radius: 10px;
          font-size: 18px;
          cursor: pointer;
          margin-top: 10px;
        }

        .btn-import {
          width: 120px;
          height: 45px;
          background-color: #00a5b5;
          color: white;
          border: none;
          border-radius: 10px;
          font-size: 18px;
          cursor: pointer;
          margin-top: 10px;
        }
      }
    }

    //.group-req
    //ตารางในbox-main
    .table-responsive {
      max-height: 405px;
      max-width: 1290px;

      table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
        color: #4a4949;

        th,
        td {
          padding: 6px;
          text-align: center;
          border: 1px solid #D2D2D2;
          
          .yoyu {
            width: 50px;
           
            
          }
          .ng-select {
            width: 100px;
            
           
          }
        }

        th {
          background-color: #E3E3E3;
          padding: 15px;
          font-size: 16px;
          font-weight: 100;
          
          
        }

        .selected-row {
          background-color: #84c4d6 !important;
        }
      }



    }
  }

  .btn-sendrequest {
    margin: 20px;
    background-color: rgb(235, 51, 51);
    color: white;
    justify-self: end;
    display: block;
    border: none;
    border-radius: 20px;
    font-size: 22px;
    padding: 8px;

    // .box-main
  }
}
