
<div class="cart-layout">

    <app-sidebar></app-sidebar>
            
        <div class="main">
                <h1>Cart</h1>
                <p>all your request in here</p>
            <!-- table -->
                <div class="table-responsive">
                <table class="table table-bordered text-center">
                    <thead>
                        <tr>
                            
                            <th>Part No.</th>
                            <th>Item No.</th>
                            <th>Spec</th>
                            <th>Process</th>
                            <th>Machine Type</th>
                            <th>Machine No.</th>
                            <th >QTY</th>
                            <th>Input Date</th>
                            <th>Due Date</th>
                            <th>Insert</th>
                            <th>Edit</th>
                            <th>Del</th>
                            
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr >
                           
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>l</td>
                            <td>l</td>
                            
                        </tr>
                        <tr >
                            
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            
                        </tr>
                         
                    </tbody>
                </table>

            </div> <!--table-->

            <!-- button sendrequest -->
            <button class="btn-sendrequest"type="submit">Send Request</button>
            
</div>