.cart-layout {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);

    
    .main{
    width: 100%;
    height: 100%;
    display: block;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    background-color: white;

    h1 {
      margin-bottom: 5px;
      
    }
    p{
      color: rgb(16, 3, 114);
      margin-bottom: 20px;
    }
  

       table {
        width: 100%;
        border-collapse: collapse;
        margin:20px ;
        color: #4a4949;
        
        
        th, td {
          padding: 12px;
          text-align: left;
          border: 1px solid #D2D2D2;
          text-align: center;
         
          
        }

        th {
          background-color: #E3E3E3;
          padding: 15px;
          font-size: 18px;
          font-weight: 100;
          
        }
      }
    }
    
}
