.cart-layout {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: white;

   h1 {
    margin: 20px;
   }
  
      table {
        width: 100%;
        border-collapse: collapse;
        
        th, td {
          padding: 12px;
          text-align: left;
          border: 1px solid #000000;
          text-align: center;
          
        }

        th {
          background-color: #d1cfcf;
          padding: 15px;
          font-size: 18px;
          font-weight: 100;
        }
      }
  
  
}
