.cart-layout {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: white;

  .box-main{
    width: 100%;
    height: 100%;
    display: block;
    flex-direction: column;
    align-items: start;
    // justify-content: start;
    padding: 20px;

    .req-row1, .req-row2 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 20px;
      
      

      select, input {
        width: 200px;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        margin: 5px;
        display: block;
        
      }
    }

    .table-border {
      width: 100%;
      overflow-x: auto;

      table {
        width: 100%;
        border-collapse: collapse;

        th, td {
          padding: 12px;
          text-align: left;
          border-bottom: 1px solid #000000;
        }

        th {
          background-color: #020202;
        }
      }
    }
  
  
}
}