.cart-layout {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  overflow: hidden;
  

  .box-card {
    width: 100%;
    background-color: white;
    margin:20px;
    border-radius: 20px;
  }

  .table-container {
    padding: 20px;
    width: 2500px;
 .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;

    th, td {
      padding: 10px;
      text-align: left;
      border-bottom: 2px solid #000000;
        }
     }
    
  }

  

  
}