
<div class="cart-layout">

    <app-sidebar></app-sidebar>

    <div class="box-main">
        <h1>Cart</h1>
        <!-- row1 -->
            <div class="req-row1">
                <select class="form-select" >
                     <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <select class="form-select" >
                     <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>

                <input type="tel" class="form-control" placeholder="Enter your phone number" />

                <input type="date" class="form-control" placeholder="Enter date" />
            </div>
            <!-- row2 -->
            <div class="req-row2">
                <select class="form-select" >
                     <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <select class="form-select" >
                     <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <select class="form-select" >
                     <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <select class="form-select" >
                     <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <select class="form-select" >
                     <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
               
            </div>
        
            <!-- table -->
             <div class="table-responsive">
                <table >
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Item Name</th>
                            <th >Quantity</th>
                            <th >Price</th>
                            <th >Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr >
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                        </tr>
                         
                    </tbody>
                </table>

            </div>
     </div>


</div>