.cart-layout {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);

    
    .main{
    width: 100%;
    height: 100%;
    display: block;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    background-color: white;

    h1 {
      margin-bottom: 5px;
      
    }
    p{
      color: rgb(16, 3, 114);
      margin-bottom: 20px;
    }
  

       table {
        width: 100%;
        border-collapse: collapse;
        margin-top:20px ;
        color: #4a4949;
        
        th, td {
          padding: 12px;
          text-align: left;
          border: 1px solid #D2D2D2;
          text-align: center;
          
        }

        th {
          background-color: #E3E3E3;
          padding: 15px;
          font-size: 18px;
          font-weight: 100;
        }
        .Insert{
          background-color: rgb(0, 6, 128);
          padding: 3px;
          border: none;
          border-radius: 5px;
          i {
            font-size: 18px;
            color: white;
          }
        }
        .edit{
          background-color: green;
          padding: 3px;
          border: none;
          border-radius: 5px;
          i {
            font-size: 18px;
            color: white;
          }
        }
        .del {
          background-color: red;
          padding: 3px;
          border: none;
          border-radius: 5px;
          i {
            font-size: 18px;
            color: white;
          }
        } 
      } //table


      .btn-sendrequest {
        margin:20px;
        background-color: rgb(235, 51, 51);
        color: white;
        justify-self:end ;
        display: block;
        border: none;
        border-radius: 20px;
        font-size: 22px;
        padding: 12px;
        
      }
    }//main
    
}
