
<div class="cart-layout">

<app-sidebar></app-sidebar>

<div class="box-card">
    
<h1> Cart</h1>
    <div class="table-container">
        
        <table >
            <thead>
                <tr>
                    <th>Part No.</th>
                    <th>Item No.</th>
                    <th>Spec </th>
                    <th>Process </th>
                    <th>Machine Type</th>
                    <th>Machine QTY</th>
                    <th>Case NG.</th>
                    <th>QTY.</th>
                    <th>Input Data</th>
                </tr>
            </thead>
            <tbody>
                <tr >
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>