<!-- จัดเรียงsidebarและหน้าทั้งหน้า -->
<div class="layout">
  <!-- sidebarฝั่งuser -->
  <app-sidebarpurchase></app-sidebarpurchase>

  <!-- ข้อมูลในหน้านี้ไม่รวมsidebar -->
  <div class="content">
    
    <!--คุมหัวข้อเรื่องของหน้า content-->
    <div class="header"> 
      
      <!--หัวข้อเรื่องของหน้า content-->
    <h1 class="reh"> Request History </h1>

     <!--ปุ่มระฆัง-->
    <button class="lol" type="button"><i class="bi-bell"></i>
        <span class="position-absolute top-2  translate-middle badge rounded-pill bg-danger">99+
          <span class="visually-hidden">unread messages</span>
        </span>
        </button>
        
      </div>

      <!--คำบรรยายใต้หัวข้อ-->
        <p class="the"> The loan withdrawal history is here. </p>
