
.layout {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.content {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: white;

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .reh {
    margin-bottom: 10px;
    font-size: 22px;
  }

  .lol {
    border: none;
    background-color: white;

    i {
      color: #000000;
      font-size: 25px;
      margin-right: 10px;
    }
  }

  .the {
    margin-bottom: 5px;
    color: #0066B3;
    font-size: 15px;
  }

  h6 {
    margin-top: 60px;
  }

  .form-input {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: flex-start;

  }

  .group-select {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 20px;
  }

  label {
    font-size: 16px;
    color: #2d2c2c;
    text-align: center;
    margin-bottom: 5px;
  }

  

  .form-select {
    color: #7a7878;
    border: 1px solid rgb(157, 157, 157);
    border-radius: 10px;
    padding: 8px;
    font-size: 14px;
    width: 200px;

    option {
      color: black;
    }
  }

  .form-select:valid {
    color: black;
  }

  input {
    padding: 8px;
    border: 1px solid #b9b6b6;
    border-radius: 10px;
    font-size: 14px;
    color: #7a7878;
    width: 200px;
  }

  .export-btn{
    position: absolute;
    right: 0;
    flex-direction: column;
    margin-top: 40px;
    margin-right: 20px;

  }

  .export-btn button {
    align-items: center;
    border: none;
    background-color: rgb(255, 0, 0);
    padding: 10px;
    border-radius: 10px;
    color: white;
    height: 50px;
  }

  .export{
    align-items: center;

  }

  .table-responsive {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    box-sizing: border-box;
    margin-top: 20px;

    table {
        width: 100%;
        table-layout: auto;
        border-collapse: collapse;

        th, td {
          padding: 8px 12px;
          border: 1px solid #ccc;
          text-align: center;
          white-space: nowrap;
        }
    }
  }

  thead th {
            position: sticky;
            top: 0;
            background-color: #E3E3E3;
            z-index: 2;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
          }

  .pagination-wrapper {
      position: fixed;
      bottom: 30px;
      left: 0;
      width: 100%;
      text-align: center;
      padding: 10px 0;

      .pagination {
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;
        list-style: none;

        .page-item {

          .page-link {
            padding: 6px 12px;
            border: 1px solid #ccc;
            color: #0066B3;
            text-decoration: none;
            background-color: #f9f9f9;
          }

          .page-link:hover {
            background-color: #e2f0ff;
            border-color: #0066B3;
          }
        }
      }
    }

  }
