<!-- จัดเรียงsidebarและหน้าทั้งหน้า -->
<div class="layout">
  <!-- sidebarฝั่งuser -->
  <app-sidebarpurchase></app-sidebarpurchase>

  <!-- ข้อมูลในหน้านี้ไม่รวมsidebar -->
  <div class="content">


    <!--คุมหัวข้อเรื่องของหน้า content-->
    <div class="header">
      <div class="header-content">
      <!--หัวข้อเรื่องของหน้า content-->
    <h1 class="reh"> Request History </h1>

     <!--ปุ่มระฆัง-->
    <button class="lol" type="button"><i class="bi-bell"></i>
        <span class="position-absolute top-2  translate-middle badge rounded-pill bg-danger">99+
          <span class="visually-hidden">unread messages</span>
        </span>
        </button>
        </div>
      </div>

      <!--คำบรรยายใต้หัวข้อ-->
        <p class="the"> The loan withdrawal history is here. </p>


        <!--ตัวเลือก-->
        <div class="box-input">
      <div class="form-input">

        <div class="group-select">
          <label for="datesetup">Date</label>
          <input type="date" id="datesetup">
        </div>
        <h6>TO</h6>
        <div class="group-select">
          <label for="duedate">Date</label>
          <input type="date" id="duedate">
        </div>

        <div class="group-select">
          <label for="case">Case</label>

          <select class="form-select" id="status" required>
             <option value="" disabled selected hidden>Select a case</option>
             <option value="1">Set up</option>
             <option value="2">Other</option>
          </select>
        </div>

      </div>
      <div class="table-responsive">
        <table class="table table-bordered text-center">
          <!-- หัวตาราง -->
          <thead>
            <tr>
              <th>Document</th>
              <th>Item Name</th>
              <th>Part No.</th>
              <th>Spec</th>
              <th>Process</th>
              <th>Mac Type</th>
              <th>Mac QTY.</th>
              <th>Case NG.</th>
              <th>On hand</th>
              <th>QTY.</th>
              <th>Reg.</th>
              <th>New</th>
              <th>Non</th>
              <th>Con.</th>
              <th>Status</th>
              <th>Fac.</th>
              <th>Status Export</th>
              <th>Remark</th>
              <th>Export Date</th>
            </tr>
          </thead>
          <!-- ในตาราง -->
          <tbody>
            <!-- row -->
            <tr>
              <td>1</td>
              <td>1</td>
              <td>1</td>
              <td>1</td>
              <td>1</td>
              <td>1</td>
              <td>1</td>
              <td>1</td>
              <td>1</td>
              <td>1</td>
              <td>1</td>
              <td>1</td>
              <td>1</td>
              <td>1</td>
              <td>1</td>
              <td>1</td>
              <td>1</td>
              <td>1</td>
              <td>1</td>
            </tr>

