.layout {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  overflow: hidden;

  .content {
    width: 100%;
    height: 100%;
    display: block;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    background-color: white;

    .reh {
      margin-bottom: 5px;
      font-size: 22px;
      
    }

    .lol {
        border: none;
        background-color: white;

        i {
          color: #000000;
          font-size: 25px;
          margin-right: 10px;

        }

      }

      .the {
      margin-bottom: 5px;
      color: #0066B3;
      font-size: 15px;
    }

  }

}