.layout {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  overflow: hidden;

  .content {
    width: 100%;
    height: 100%;
    display: block;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    background-color: white;

    .reh {
      margin-bottom: 10px;
      font-size: 22px;
      
    }

    .lol {
        border: none;
        background-color: white;

        i {
          color: #000000;
          font-size: 25px;
          margin-right: 10px;

        }
      }

      .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
         width: 100%;
        }

      .the {
      margin-bottom: 5px;
      color: #0066B3;
      font-size: 15px;
    }


    .form-input {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 5px 0 5px 0;
        gap: 25px;

      }



      .group-select {
        //label+select
        flex-direction: column;
        display: flex;
        margin-top: 20px;
        margin-left: 20px;
      }

      .form-select {
        color: #7a7878; /* สีเทาสำหรับ placeholder */
        border: 1px solid rgb(157, 157, 157); /* กรอบสีดำ */
        border-radius: 10px;
        padding: 8px;
        font-size: 14px;
        width: 200px;
      }

      .form-select:valid {
        color: black;
      }

      .box-input {
      justify-content: space-between;
      width: 100%;
    }
  }

}