
<div class="history-layout">

    <app-sidebar></app-sidebar>

      <div class="main">
        <h1>History</h1>
        <p>Requset History</p>
        <div class="box-input">
            <div class="form-input">
                <div class="group-select">
                    <label for="datesetup">Date Setup</label>
                <input type="date" id="datesetup">
                </div>
                
             
                
                <div class="group-select">
                    <label for="duedate">Due Date</label>
                    <input type="date" id="duedate">
                </div>
                
                <div class="group-select">
                    <label for="satus">Satus</label>
                    <select class="form-select" id="satus" >
                     <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                </div>
                <div class="group-select">
                    <label for="filter">Filter/Select Item</label>
                    <select class="form-select" id="filter" >
                     <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                </div>
                </div>
                <div class="btn-group-req">
                    <button class="btn-sort" type="submit">Sort</button>
                    
                </div>
            
            </div>
            <div class="table-responsive">
                <table class="table table-bordered text-center">
                    <thead>
                        <tr>
                            
                            <th>Part No.</th>
                            <th>Item No.</th>
                            <th>Spec</th>
                            <th>Process</th>
                            <th>Machine Type</th>
                            <th>Machine No.</th>
                            <th >QTY</th>
                            <th>Input Date</th>
                            <th>Due Date</th>
                            <th>Insert</th>
                            <th>Edit</th>
                            <th>Del</th>
                            
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr >
                           
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>l</td>
                            <td>l</td>
                            
                        </tr>
                        <tr >
                            
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            
                        </tr>
                         
                    </tbody>
                </table>

            </div> <!--table-->
      </div>      




      
</div>